<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>宿題リスト</title>
</head>
<body>
 <h1>宿題リスト編集</h1>
 <%= form_for @todo do |f| %>
   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
   <input name="subject" placeholder="教科">
   <input name="grade" placeholder="学年">
   <input name="classroom" placeholder="クラス">
   <input name="deadline" placeholder="締切日">
   <input name="discript" placeholder="詳細を記入してください">
   <input name="text" placeholder="宿題を記入してください">
   <button type="submit">追加する</button>
 <% end %>

 <h2>宿題リスト</h2>
 <ul>
   <% @todos.each do |todo| %>
   <li>
     <%= todo.subject %>
     <%= todo.grade %>
     <%= todo.classroom %>
     <%= todo.deadline %>
     <%= todo.discript %>
     <%= todo.text %>
     <form action="/todos/<%= todo.id %>"
           style="display: inline;" 
           method="POST">
       <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
       <input name="_method" type="hidden" value="DELETE">
       <%= button_to "削除する", todo_path(todo.id), method: :delete %>
     </form>
   </li>
   <% end %>
 </ul>
</body>
</html>