<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #333;
      text-align: center;
      padding: 20px 0;
    }

    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #4CAF50;
      color: white;
    }

    tr:hover {
      background-color: #f5f5f5;
    }

    a {
      text-decoration: none;
      color: #3498db;
      font-weight: bold;
    }

    a:hover {
      color: #258cd1;
    }
  </style>
</head>
<body>
<h1>宿題リスト</h1>
<tabel>
  <tr>
    <th>ID</th>
    <th>教科</th>
    <th>クラス</th>
    <th>提出場所</th>
    <th></th>
  </tr>
  <% @aaaaa.each do |todo| %>
  <tr>
    <td><%= todo.id%></td>
    <td><%= todo.%></td>
    <td><%= todo.%></td>
    <td><%= todo.%></td>
    <td><%= link_to '詳細', </td>
  </tr>
  <% end %>
</tabel>
</body>
</html>