
<h1>宿題リスト</h1>
<tabel>
  <tr>
    <th>ID</th>
    <th>教科</th>
    <th>クラス</th>
    <th>提出場所</th>
    <th></th>
  </tr>
  <% @aaaaa.each do |todo| %>
  <tr>
    <td><%= todo.id%></td>
    <td><%= todo.%></td>
    <td><%= todo.%></td>
    <td><%= todo.%></td>
    <td><%= link_to '詳細', </td>
  </tr>
  <% end %>
</tabel>